home/.config/*/*
!home/.config/i3/config
!home/.config/i3blocks/config
!home/.config/dunst/dunstrc
!home/.config/nvim/init.vim
!home/.config/nvim/colors
!home/.config/nvim/ftplugin
!home/.config/termite/config
!home/.config/fish/config.fish
!home/.config/fish/fishfile
!home/.config/mpv/input.conf
!home/.config/mpd/mpd.conf
!home/.config/ranger/scope.sh
!home/.config/ranger/rc.conf
!home/.config/ranger/commands.py
!home/.config/zathura/zathurarc
